{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Match {{ match.homeTeamId }} vs {{ match.awayTeamId }}</h1>

    <table class="dataintable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>

            <tr>
                <th>Home team</th>
                <td>{{ match.homeTeamId }}</td>
            </tr>
            <tr>
                <th>Away team</th>
                <td>{{ match.awayTeamId }}</td>
            </tr>
            <tr>
                <th>Home score</th>
                <td>{{ match.homeScore }}</td>
            </tr>
            <tr>
                <th>Away score</th>
                <td>{{ match.awayScore }}</td>
            </tr>
            <tr>
                <th>Snitch</th>
                <td>{{ match.snitch }}</td>
            </tr>
            <tr>
                <th>P</th>
                <td>{{ match.p }}</td>
            </tr>
            <tr>
                <th>Padj</th>
                <td>{{ match.padj }}</td>
            </tr>
            <tr>
                <th>Swim</th>
                <td>{{ match.SWIM }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ match.eventId }}</td>
            </tr>
            <tr>
                <th>Event order</th>
                <td>{{ match.eventOrder }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matchs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('matchs_edit', { 'id': match.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
